<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>角色管理</title>
    <link rel="icon" href="img/timg.jpg">
    <link rel="stylesheet" type="text/css" href="css/element-ui.css" />
    <style type="text/css">
        .demo-table-expand {
            font-size: 0;
        }

        .demo-table-expand label {
            width: 90px;
            color: #99a9bf;
        }

        .demo-table-expand .el-form-item {
            margin-right: 0;
            margin-bottom: 0;
            width: 50%;
        }
    </style>
</head>

<body>

    <div id="role">
        <el-form ref="formSearch" :model="formSearch" label-width="90px">
            <el-row>
                <el-col :span="4">
                    <el-form-item label="角色名称: ">
                        <el-input size="small" placeholder="请输入角色名称" suffix-icon="el-icon-edit"
                            v-model="formSearch.searchRoleName">
                        </el-input>
                    </el-form-item>
                </el-col>
                <el-col :span="4">
                    <el-form-item label="角色权限名: ">
                        <el-input size="small" placeholder="请输入角色权限名" suffix-icon="el-icon-edit"
                            v-model="formSearch.searchRoleTrueName">
                        </el-input>
                    </el-form-item>
                </el-col>
                <el-col :span="3">
                    <el-form-item label="角色状态: ">
                        <el-select size="small" v-model="formSearch.searchRolStatus">
                            <el-option label="选择状态" value=""></el-option>
                            <el-option label="启用" value="0"></el-option>
                            <el-option label="禁用" value="1"></el-option>
                        </el-select>
                    </el-form-item>
                </el-col>
                <el-col :span="3">
                    <el-form-item label="角色类型: ">
                        <el-select size="small" v-model="formSearch.searchRoleType">
                            <el-option label="选择类型" value=""></el-option>
                            <el-option label="管理员" value="0"></el-option>
                            <el-option label="机构管理员" value="1"></el-option>
                        </el-select>
                    </el-form-item>
                </el-col>
                <el-col :span="4">
                    <el-form-item label="创建人: ">
                        <el-input size="small" placeholder="请输入创建人" suffix-icon="el-icon-edit"
                            v-model="formSearch.searchRoleCreateMan">
                        </el-input>
                    </el-form-item>
                </el-col>
            </el-row>
            <el-row>
                <el-col :span="8">
                    <el-form-item label="创建时间: ">
                        <el-date-picker size="small" v-model="formSearch.searchRoleCreateTime" type="datetimerange"
                            format="yyyy-MM-dd HH:mm" value-format="yyyy-MM-dd HH:mm" :picker-options="pickerOptions"
                            range-separator="至" start-placeholder="开始日期" end-placeholder="结束日期">
                        </el-date-picker>
                    </el-form-item>
                </el-col>
                <el-col :span="8">
                    <el-form-item label="检索条件: ">
                        <el-button type="primary" size="small" icon="el-icon-search"
                            @click="onSubmitFormSearch('formSearch')">检索</el-button>
                        <el-button type="danger" size="small" icon="el-icon-refresh"
                            @click="resetFormSearch('formSearch')">重置</el-button>
                        <el-button type="warning" size="small" icon="el-icon-plus" @click="addOrg()">添加角色</el-button>
                    </el-form-item>
                </el-col>
            </el-row>
        </el-form>
        <el-table
            :data="tableData.filter(data => !search || data.userInfoName.toLowerCase().includes(search.toLowerCase()))"
            stripe border style="width: 100%;height: auto;color: #409EFF;" max-height="600">
            <el-table-column type="selection" width="55">
            </el-table-column>
            <el-table-column type="expand" fixed prop="userInfoId">
                <template slot-scope="props">
                    <el-form label-position="left" inline class="demo-table-expand">
                        <el-form-item label="角色ID">
                            <span>{{ props.row.userInfoId }}</span>
                        </el-form-item>
                        <el-form-item label="角色名称">
                            <span>{{ props.row.userInfoIsLookout }}</span>
                        </el-form-item>
                        <el-form-item label="角色权重">
                            <span>{{ props.row.userInfoIsLookout }}</span>
                        </el-form-item>
                        <el-form-item label="创建时间">
                            <span>{{ props.row.userInfoCreateTime }}</span>
                        </el-form-item>
                        <el-form-item label="创建人">
                            <span>{{ props.row.userInfoFounder }}</span>
                        </el-form-item>
                        <el-form-item label="修改人">
                            <span
                                v-if="props.row.userInfoUpdateMan == '' || props.row.userInfoUpdateMan == null">暂无数据</span>
                            <span v-else>{{ props.row.userInfoUpdateMan }}</span>
                        </el-form-item>
                        <el-form-item label="角色状态">
                            <span>{{ props.row.userInfoIsLookout }}</span>
                        </el-form-item>
                        <el-form-item label="角色类型">
                            <span>{{ props.row.userInfoIsLookout }}</span>
                        </el-form-item>
                    </el-form>
                </template>
            </el-table-column>
            <el-table-column fixed prop="roleName" label="角色名称" style="box-sizing: 20px;">
            </el-table-column>
            <el-table-column fixed prop="roleTrueName" label="角色权限名">
            </el-table-column>
            <el-table-column fixed prop="roleCreateMan" label="创建人">
            </el-table-column>
            <el-table-column fixed prop="roleName" label="修改人">
            </el-table-column>
            <el-table-column fixed="left" label="操作">
                <template slot-scope="scope">
                    <el-button type="warning" size="mini" icon="el-icon-plus" round
                        @click="setRole(scope.$index, scope.row)">设置模块</el-button>
                    <el-button type="warning" size="mini" icon="el-icon-plus" round
                        @click="setRole(scope.$index, scope.row)">设置权限</el-button>
                    <el-button type="primary" size="mini" icon="el-icon-edit" round
                        @click="updOrg(scope.$index, scope.row)">修改</el-button>
                    <el-button size="mini" type="danger" icon="el-icon-close" round
                        @click="handleDelete(scope.$index, scope.row)">删除</el-button>
                </template>
            </el-table-column>
        </el-table>
        <div id="page">
            <el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange"
                :current-page="currentPage" :page-size="pagesize" :page-sizes="[5, 10, 20, 50]" background
                layout="total, sizes, prev, pager, next, jumper" :total="total">
            </el-pagination>
        </div>
        <!-- Form -->
        <el-dialog title="添加角色信息" width=35% :close-on-click-modal="false" :close-on-press-escape="false"
            :visible.sync="dialogFormVisible" @close='closeAddDialog'>
            <el-form :model="from" ref="from" :rules="rules" label-width="120px">
                <el-form-item label="角色名称" prop="userInfoName">
                    <el-input v-model="from.userInfoName" placeholder="请输入角色名称" prefix-icon="el-icon-edit"></el-input>
                </el-form-item>
                <el-form-item label="角色状态" prop="userInfoSex">
                    <el-select v-model="from.userInfoSex" placeholder="请选择">
                        <el-option label="启用" value="0"></el-option>
                        <el-option label="禁用" value="1"></el-option>
                    </el-select>
                </el-form-item>
                <el-form-item label="角色类型" prop="userInfoSex">
                    <el-select v-model="from.userInfoSex" placeholder="请选择">
                        <el-option label="管理员" value="0"></el-option>
                        <el-option label="权限管理员" value="1"></el-option>
                    </el-select>
                </el-form-item>
                <el-form-item label="角色权重" prop="userInfoName">
                    <el-input v-model="from.userInfoName" placeholder="请输入角色权重" prefix-icon="el-icon-edit"></el-input>
                </el-form-item>
                <el-form-item label="创建人" prop="userInfoName">
                    <el-input v-model="from.userInfoName" placeholder="请输入创建人" prefix-icon="el-icon-edit"></el-input>
                </el-form-item>
                <el-form-item>
                    <el-button type="primary" @click="onSubmit('from')">立 即 添 加</el-button>
                    <el-button @click="resetForm('from')">清 空 输 入</el-button>
                </el-form-item>
            </el-form>
        </el-dialog>

        <!-- Forms -->
        <el-dialog title="修改角色信息" width=35% :close-on-click-modal="false" :close-on-press-escape="false"
            :visible.sync="dialogFormUpd" @close='closeUpdDialog'>
            <el-form :model="froms" ref="froms" :rules="rulesU" label-width="120px">
                <el-form-item label="角色ID" prop="userInfoId">
                    <el-input v-model="froms.userInfoId" disabled="true" placeholder="请输入角色Id"
                        prefix-icon="el-icon-edit"></el-input>
                </el-form-item>
                <el-form-item label="角色名称" prop="userInfoName">
                    <el-input v-model="froms.userInfoName" placeholder="请输入用户名称" prefix-icon="el-icon-edit">
                    </el-input>
                </el-form-item>
                <el-form-item label="角色状态" prop="userInfoSex">
                    <el-select v-model="froms.userInfoSex" placeholder="请选择">
                        <el-option label="启用" value="0"></el-option>
                        <el-option label="禁用" value="1"></el-option>
                    </el-select>
                </el-form-item>
                <el-form-item label="角色类型" prop="userInfoSex">
                    <el-select v-model="froms.userInfoSex" placeholder="请选择">
                        <el-option label="管理员" value="0"></el-option>
                        <el-option label="权限管理员" value="1"></el-option>
                    </el-select>
                </el-form-item>
                <el-form-item label="角色权重" prop="userInfoName">
                    <el-input v-model="froms.userInfoName" placeholder="请输入角色权重" prefix-icon="el-icon-edit">
                    </el-input>
                </el-form-item>
                <el-form-item label="修改人" prop="userInfoName">
                    <el-input v-model="froms.userInfoName" placeholder="请输入修改人" prefix-icon="el-icon-edit">
                    </el-input>
                </el-form-item>
                <el-form-item>
                    <el-button type="primary" @click="onSubmitUpd('froms')">立 即 修 改</el-button>
                    <el-button @click="resetForms('froms')">清 空 输 入</el-button>
                </el-form-item>
            </el-form>
        </el-dialog>

        <!-- RoleModules -->
        <el-dialog title="设置模块信息" :close-on-click-modal="false" :close-on-press-escape="false"
            :visible.sync="dialogFormSetRoleVisible">
            <div style="text-align: center">
                <el-transfer style="text-align: left; display: inline-block" v-model="rightC" filterable
                    :titles="['未设置的角色', '已设置的角色']" :button-texts="['移除角色', '添加角色']" :format="{
                                noChecked: '${total}',
                                hasChecked: '${checked}/${total}'
                              }" @change="handleChange" :data="dataSetRole">
                </el-transfer>
            </div>
        </el-dialog>

        <!-- RolePermission -->
        <el-dialog title="设置权限信息" :close-on-click-modal="false" :close-on-press-escape="false"
            :visible.sync="dialogFormSetRoleVisible">
            <div style="text-align: center">
                <el-transfer style="text-align: left; display: inline-block" v-model="rightC" filterable
                    :titles="['未设置的角色', '已设置的角色']" :button-texts="['移除角色', '添加角色']" :format="{
                                noChecked: '${total}',
                                hasChecked: '${checked}/${total}'
                              }" @change="handleChange" :data="dataSetRole">
                </el-transfer>
            </div>
        </el-dialog>
    </div>

</body>
<!-- 引入VUE和Element-ui组件 -->
<script src="js/Vue.min.js" type="text/javascript" charset="utf-8"></script>
<script src="js/axios.min.js" type="text/javascript" charset="utf-8"></script>
<script src="js/element-ui.js" type="text/javascript" charset="utf-8"></script>
<!-- 引入公共全局变量和userInfo.js文件 -->
<script src="js/const.js" type="text/javascript" charset="utf-8"></script>
<script src="js/sys/role.js" type="text/javascript" charset="utf-8"></script>

</html>